$border-width: 1px;
$border-radius: 1px;
$border-style: solid;
$spacer-1: 10px;
$spacer-2: 20px;
$spacer-3: 32px;
$font-weight-bold: normal;
$max-height: 20em;
$theme-colors: (
  "primary": #1266f1,
  "secondary": #b23cfd,
  "success": #00b74a,
  "info": #39c0ed,
  "warning": #ffa900,
  "danger": #f93154,
  "light": #fbfbfb,
  "dark": #262626,
);

.autocomplete-results {
  position: absolute;
  z-index: 99;
  max-height: $max-height;
  overflow-y: auto;
  // stylelint-disable-next-line primer/typography
  font-size: 14px;
  list-style: none;
  background: map-get($theme-colors, "light");
  border: $border-width $border-style map-get($theme-colors, "primary");
  border-radius: $border-radius;
  box-shadow: map-get($theme-colors, "primary");
}

// One of the items that appears within an autocomplete group
// Bold black text on white background

.autocomplete-item {
  display: block;
  width: auto;
  padding: $spacer-1 $spacer-2;
  margin-left: -$spacer-3;
  overflow: hidden;
  font-weight: $font-weight-bold;
  color: map-get($theme-colors, "dark");
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: map-get($theme-colors, "light");
  border: 0;

  &:hover {
    color: map-get($theme-colors, "primary");
    text-decoration: none;
    background-color: map-get($theme-colors, "info");

    // Inherit color on all child elements to ensure enough contrast
    * {
      color: inherit !important;
    }
  }

  &.selected,
  &[aria-selected="true"],
  &.navigation-focus {
    color: map-get($theme-colors, "dark");
    text-decoration: none;
    background-color: map-get($theme-colors, "info");

    // Inherit color on all child elements to ensure enough contrast
    * {
      color: inherit !important;
    }
  }
}

$small: 300px;
$medium: 800px;

@media screen and (max-width: $medium) and (min-width: $small) {
  .autocomplete-results {
    width: 70%;
  }
}
@media screen and (min-width: $medium) {
  .autocomplete-results {
    width: 35.5%;
  }
}
