<div class="container responsive">
  <main>
    <!-- Main Grid -->

    <div class="row" id="mainGrid">
      <!-- Layout Player's Cards Form-->
      <div class="col-md-6 col-lg-6">
        <app-player-form
          (submitCardEvent)="submitCardHandler($event)"
        ></app-player-form>
      </div>
      <!-- Layout Player's Cards Form **-->

      <!-- Layout List of Player's Cards -->
      <div class="col-md-6 col-lg-6" id="playerCardList">
        <!-- List of Player's Component -->
        <app-player-list
          [playerCards]="playerCards"
          [displayPlayerCards]="playerCards"
          [totalCardValue]="totalCardValue"
          [isLoading]="false"
          (removeCardEvent)="removeCardHandler($event)"
          (selectCardEvent)="selectCardHandler($event)"
        ></app-player-list>
      </div>
      <!-- Layout List of Player's Cards ** -->
    </div>
  </main>
</div>
