<div class="container">
  <main>
    <!-- Main Grid -->
    <div class="row g-4 py-5" id="mainGrid">
      <!-- Layout Player's Cards Form-->
      <div class="col-md-6 col-lg-6">
        <app-player-form
          (submitCardEvent)="submitCardHandler($event)"
        ></app-player-form>
      </div>
      <!-- Layout Player's Cards Form **-->

      <!-- Layout List of Player's Cards -->
      <div class="col-md-6 col-lg-6">
        <!-- List of Player's Component -->
        <app-player-list
          [playerCards]="playerCards"
          [displayPlayerCards]="playerCards"
          [totalCardValue]="totalCardValue"
          (removeCardEvent)="removeCardHandler($event)"
          (selectCardEvent)="selectCardHandler($event)"
        ></app-player-list>
      </div>
      <!-- Layout List of Player's Cards ** -->
    </div>
  </main>
</div>
